form, ul, li, input, label {
	box-sizing: border-box;
	display: block;
  margin-right: 300px;
  margin-left: 200px;
}

ul {
	background-color: $bgColor;
	border: 5px solid $color;
	list-style-type: none;
	margin: 3em auto;
	padding: 0;
	width: 350px;
}

li {
	border-bottom: 1px solid lighten($color, 25);
	margin-top: -1px; // border collapser
	position: relative;
}

label, input {
	transition: color 0.4s ease, background-color 0.1s ease-in-out;
}

label {
	// labels are after the input in the HTML...
	color: lighten($color, 15);
	font-family: $fontFamily;
	font-size: 70%;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	// ... move it up top ...
	position: absolute;
	top: 10px;
	left: 10px;

	// ... so that we can use a sibling selector.
	input:focus+& {
		color: darken(#0074D9, 10);
		font-weight: bold;
		letter-spacing: -0.01em;
	}
}

input {
	background-color: transparent;
	border: none;
	color: darken($color, 15);
	font-size: 18px;
	margin: 9px 0 7px 0;
	margin: 0;
	padding: 2em 10px 10px 10px;
	outline: none;
	width: 100%;

		&:focus {
			color: #000;
			background-color: lighten($color, 40);
			box-shadow: 0px 3px 4px -2px rgba(0,0,115,0.25) inset;
		}
}
