.errorWrap {
  padding: 10px;
  margin: 0 0 20px 0;
background: #dd3d36;
color:#fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.succWrap{
  padding: 10px;
  margin: 0 0 20px 0;
background: #5cb85c;
color:#fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.btn btn-primary {width:50%;}
