/* GLOBAL */
@font-face {
font-family:"Reforma";
 src:url("fonts/Reforma.ttf");
 font-weight:normal;
font-style:normal;
}

@font-face {
  font-family: "datagov";
  src:url("fonts/datagov.eot");
  src:url("fonts/datagov.eot?#iefix") format("embedded-opentype"),
    url("fonts/datagov.woff") format("woff"),
    url("fonts/datagov.ttf") format("truetype"),
    url("fonts/datagov.svg#datagov") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "datagov" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "datagov" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
.icon-ic-datagov:before {
  content: "\61";
}
.icon-ic-menorah:before {
  content: "\62";
}
.icon-ic-magen-david:before {
  content: "\63";
}
.icon-ic-transport:before {
  content: "\66";
}
.icon-ic-water:before {
  content: "\67";
}
.icon-ic-eco:before {
  content: "\68";
}
.icon-ic-finance:before {
  content: "\69";
}
.icon-ic-edu:before {
  content: "\6b";
}
.icon-ic-health2:before {
  content: "\6c";
}
.icon-ic-pop:before {
  content: "\6a";
}
.icon-ic-justic:before {
  content: "\65";
}
.icon-ic-house:before {
  content: "\6d";
}
.icon-shutterstock-336874199-converted:before {
  content: "\64";
}
.icon-tur:before {
  content: "\6e";
  font-family: "datagov" !important;
}

body{
  font-size: 100%;
  }
h1, h2{
  font-family: Reforma;
}
.big-text{
  font-family:Reforma;
  font-weight:normal !important;
}
.small-text{
  font-size:20px;
  font-family:Reforma;
  font-weight:normal !important;
}

i.icon-ic-datagov{
  font-family:datagov;
  color:#FFFFFF;
}


i.icon-ic-menorah{
  font-family:datagov;
  color:#FFFFFF;
  font-size: 50px;
}
html{
  position: relative;
  min-height: 100%;
}

body{
 background-color: #fff;
 margin-bottom: 100px;
 background-image: none;
}

.embedded-content a{
word-break:break-word;
}

/* header */

.account-masthead{
  height:73px;
  color:#FFFFFF;
  background-color: #275c7e;
}
.account-masthead .container{
  display:block;
  height:100%;
}


.account-masthead .header-logo{
  display: table;
  padding-top: 10px;
}
.account-masthead .header-logo .header-logo-cell{
  display: table-cell;
  vertical-align: top;
}
.account-masthead .header-logo .header-logo-cell .logo-icon-gov{
  height: 50px;
  margin-top: -20px;
}
.account-masthead .header-logo .header-logo-cell .log-txt{
  padding-top: 20px;

}



.account-masthead .container  .betaImg{
  background-image: url('img/beta.png');
  background-repeat:no-repeat;
  background-position: 90% 50%;
  background-size: 100px 25px;
  width: 110px;
  /*position: absolute;*/
  margin-top: 35px;
  right: 20%;

}

.account-masthead .account{
  position: absolute;
  right: 10%;
  top:0;
}

/* end header */
.masthead{
  min-height:37px;
  height:37px;
  background-color:#263c4a;
}
.masthead .nav-collapse{
  clear:both;
  padding-top:0;
  float:left;
}
.masthead .nav > li > a{
  padding:0;
}
.masthead .nav > li:hover > a{
  background-color: transparent !important;
  border-radius: 0;
}
 .navigation{
  float:right;
  height: 37px;
  margin-right: 0px !important;
}
.navigation ul{
  margin-right:0px !important;
}
 .navigation ul li{
  float: right;
  padding-top: 10px;
}
.nav-pills li.active a{
  background-color: transparent !important;
  border-radius: 0;

}
.navbar .nav > .active > a{
  box-shadow: none;
}
.masthead ul li a:before{
content:"\00a0\00a0|\00a0\00a0";
}
.masthead ul li:first-child a:before{
content:none;
}
footer .unstyled, footer .attribution{
    float: left;
}

.site-footer{
  color: #FFFFFF;
  background-color: #275c7e !important;
}

.site-footer .footer-links .unstyled li a{
  font-family:Reforma;
  font-weight:normal !important;
}
.site-footer .footer-links .unstyled li:after{
  content:"\00a0\00a0|\00a0\00a0";
}
.site-footer .footer-links .unstyled li:last-child:after{
  content:none;
}
form.lang-select label{
  visibility: hidden;
  height: 1px;
}
form.lang-select .lang-container a{
  border-radius: 0;
  font-size:20px;
  font-family:Reforma;
  font-weight:normal !important;
  color:#0d2936;
}
/* home page */

.footer{
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  /*width:100%;*/
  height: 60px;
}
.hero{
  background: none;
  background-color: #eef3f5;
}
.hero .container .row1 .span8 .module-search h2{
  font-family: Reforma;
  font-size: 20px;
  color:#0d2936 ;
  margin-left: 20px;
  font-weight: normal;
  text-decoration: underline;
  margin-top: 45px;
  opacity: 0.73;
}
.hero .container .row1 .span8 .module-search{
  margin-top: 80px;
  min-height: 222px;
}
.hero .container .row1 .span8 .module-search form.module-content{
  background-color: #FFFFFF;
  opacity: 0.43;
}

.homepage .module-search .tags{
  font-family: Reforma;
  font-size: 20px;
  color:#0d2936 !important;
  background-color: #FFFFFF;
  opacity: 0.73;

}
.homepage .module-search .module-content{
  background: none;
}
.homepage .span12{
  padding-top:20px;
}
.homepage .span12 .module-search{
  padding-top:20px;
}
.search-form .search-input button i{

  color:#0d2936;
}

.ui-helper-hidden-accessible{
  display: none;
}

[role=main], .main{
  background: none;
  background-color: #fff;
}

.tagCollector{
  margin-bottom: 50px;
}

.tagLinks .tagLogo{
  width: 20%;
}

.tagLinks .tagLogo .tagLogoTitle{
  text-align: center;
  font-size: 15px;
}
.tagLinks .tagLogo .tagLogoLink{
  text-align: center;
  font-family:Reforma;
  font-size: 18px;
  color:#4679b2;
}
.tagLinks .tagLogo .tagLogoLink span{
  display:block;
  margin: auto;
}
.tagLinks .tagLogo .tagLogoLink i{
  font-size: 60px;
  color:#4679b2;
}
.tagLinks .tagLogo .tagLogoItemCount{
  text-align: center;
  font-size: 15px;
}
/* end home page */

/* Contact Us */
.contact-form .control-group .editor span{
  display: none;
  visibility: none;
}
.contact-form .control-group .editor textarea{
  border-radius: 0 0 3px 3px;
  border: 1px solid #cccccc;
}
.contact-form .control-group .control-label{
  text-align: left;
}
/* End Contact Us */
/* aside  module-shallow */
.module-shallow .nav-facet .nav-item .txt,
.module-shallow .nav-facet .nav-item .num{
display: inline-block;
line-height: 15px;
vertical-align: middle;
margin: 0 2px;
}
.ui-autocomplete{

  list-style: none;
  font-weight: bold;
  line-height: 30px;
  background-color: #eef3f5;
  width: 10%;
  border:1px #cccccc solid;


}
.ui-autocomplete li{
  line-height: 30px;
  padding: 0 15px;
  color: #0d2936;
  opacity: 0.73;
}
/* end aside  module-shallow */

h1.page-heading{
    clear: both;
  }
.module-content .pagination{
  margin-bottom: 25px;
}

@media only screen and (max-width: 319px){

  /*body{
    background-color:yellow;
  }*/
  .masthead{
    height: 120px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
  }
   .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus{
   /* float: left;
    margin-left: 0;
    margin-top: 5px;*/
    display: none;
  }
  .masthead  ul li a:before{
    content: none;
  }
  .nav-collapse{
    /*clear: none !important;
    height: auto;*/
    display: block;
    height: 120px !important;
  }
  .nav-collapse .nav-pills{
    /*display: inline-block;
    flex-direction:column;
    border: 1px red solid;
    min-height: 150px;*/
  }
  /*.account-masthead .container .betaImg{
    margin-top: -45px;
  }*/
  .logo-mobile{
  display: block;
}
.logo-mobile .mobile-log-txt{
  position: absolute;
  left:67px;
  top:15px;
}
.logo-mobile hgroup .log-txt{
  margin-top: -10px !important;
  margin-left: 0px !important;
}
.logo-mobile hgroup .logo-icon-gov .logo span{
  top:-15px;
}
.logo-desktop{
display:none ;
}
/*  .account-masthead .container .logo-title hgroup{
     -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;

}
.account-masthead .container .logo-title hgroup .log-txt{
  margin-left: 319 * (-24 /100);
    margin-left: -24vm;
    margin-left: -24vmin;
}*/
.toolbar .breadcrumb .home{
    display: inline;
  }
  .site-footer .footer-links .unstyled li a{
    font-size: 319 * (3 /100);
    font-size: 3vm;
    font-size: 3vmin;

  }
  .wrapper{
    margin:0;
  }
  .homepage .module-search .tags .tag,
  .homepage .module-search .tags h3{
    float:none !important;
  }
  /*.toolbar .breadcrumb{
    padding-left: 319 * (5 /100);
    padding-left: 5vm;
    padding-left: 5vmin;
  }*/
  .toolbar .breadcrumb li,
  .toolbar .breadcrumb a{
    color:#505050;
  }
   i.icon-ic-datagov{

    font-size: 319 * (25 /100);
    font-size: 25vm;
    font-size: 25vmin;
  }

  i.icon-ic-menorah{

    /*font-size: 319 * (12 /100);
    font-size: 12vm;
    font-size: 12vmin;
    font-size: 50px;  */
  }
  .account-masthead .header-logo .header-logo-cell .log-txt{
    clear: both;
  }
  .account-masthead .header-logo .header-logo-cell .logo-icon-gov{
    height: 20px;
    margin-top: -30px;
  }
  .betaImg-box{
  position: absolute;
  top:2px;
  left: 0;
}
 /*.account-masthead .container .betaImg{
    margin-top: -38px;
  }*/
  .account-masthead .container .logo-title hgroup .logo-text{
    /* font-size: 319 * (3 /100);
    font-size: 3vm;
    font-size: 3vmin;   */
   }
  .site-footer{

    padding-left: 319 * (10 /100);
    padding-left: 10vm;
    padding-left: 10vmin;
    padding-right: 319 * (10 /100);
    padding-right: 10vm;
    padding-right: 10vmin;
  }
  .site-footer .footer-links .unstyled{
    justify-content:center;
  }

   .site-footer .footer-links .unstyled li a{
     font-size: 20px;
    white-space: nowrap;
  }
  .footer .attribution{
    display: none;
  }
  .m-top ckanext-datapreview{
  overflow: auto;
}
.actions li{
    margin: 3px 0;
  }
  .tagLinks .tagLogo{
    width: 50%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px ){
 /*body{
  background-color: purple;
 }*/

  .homepage .module-search .tags h3{
    width: 100%;
  }

   .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus{
    float: left;
    margin-left: 0;
    margin-top: 5px;
    margin-left: 320 * (6 /100);
    margin-left: 6vm;
    margin-left: 6vmin;
  }
  .toolbar{

    padding-left: 320 * (6 /100);
    padding-left: 6vm;
    padding-left: 6vmin;
  }
  .nav-collapse{
    clear: none !important;
    height: auto;
  }
  .nav-collapse .nav-pills{
     display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;
    display: flex;
  }
  .nav-collapse .nav-pills li a{
    font-size: 319 * (3.8 /100);
    font-size: 3.8vm;
    font-size: 3.8vmin;
    line-height: 320 * (3.8/100);
    line-height: 3.8vm;
    line-height: 3.8vmin;

  }
  .betaImg-box{
  position: absolute;
  top:2px;
  left: 0;
}
/*.account-masthead .container .betaImg{
    margin-top: 5px;
  }*/
  .logo-mobile{
  display: block;
}
.logo-mobile .mobile-log-txt{
  position: absolute;
  left:67px;
  top:15px;
}
.logo-mobile hgroup .log-txt{
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.logo-mobile hgroup .logo-icon-gov .logo span{
  top:-15px;
}
.logo-desktop{
display:none ;
}

  i.icon-ic-datagov{

    font-size: 320 * (22 /100);
    font-size: 22vm;
    font-size: 22vmin;
  }

  i.icon-ic-datagov{
  font-size:90px;

  }

  i.icon-ic-menorah{
    /*font-size: 319 * (11 /100);
    font-size: 11vm;
    font-size: 11vmin;  */
  }
  .account-masthead .header-logo .header-logo-cell .log-txt{
    clear: both;
  }
  .account-masthead .header-logo .header-logo-cell .logo-icon-gov{
    height: 20px;
    margin-top: -30px;
  }
  .betaImg-box{
  position: absolute;
  top:2px;
  left: 0;
}
  .account-masthead .container .betaImg{
    margin-top: 0;
  }
  .account-masthead .container .logo-title .logo-mobile hgroup .logo-text{

    font-size: 319 * (3.8 /100);
    font-size: 3.8vm;
    font-size: 3.8vmin;
    line-height: 320 * (3.8/100);
    line-height: 3.8vm;
    line-height: 3.8vmin;

   }

   .toolbar .breadcrumb .home{
    display: inline;
  }
  .wrapper{
    margin:0;
  }
  .toolbar .breadcrumb{
    /*padding-left: 320 * (5 /100);
    padding-left: 5vm;
    padding-left: 5vmin; */
  }
  .toolbar .breadcrumb li,
  .toolbar .breadcrumb a{
    color:#505050;
  }
  .site-footer{

    padding-left: 320 * (10 /100);
    padding-left: 10vm;
    padding-left: 10vmin;
    padding-right: 320 * (10 /100);
    padding-right: 10vm;
    padding-right: 10vmin;

  }
  .site-footer .footer-links .unstyled{
    justify-content:center;
  }
   .site-footer .footer-links .unstyled li a{
    font-size: 20px;
  }
  .footer .attribution{
    display: none;
  }
  .tagCollector .tagLinks .tagLogo{

    width: 50%;
  }
  .actions li{
    display: block;
    margin: 3px 0;
  }
  .m-top ckanext-datapreview{
  overflow: auto;
  background-color: red;
}
  }
@media only screen and (min-width: 480px) and (max-width: 767px){
  /*body{
    background-color: orange;
  }*/
  .logo-mobile{
  display: block;
}
.logo-mobile .mobile-log-txt{
  position: absolute;
  left:67px;
  top:15px;
}
.logo-mobile hgroup .log-txt{
  margin-top: 10px !important;
  margin-left: 0px !important;
}
.logo-mobile hgroup .logo-icon-gov .logo span{
  top:-15px;
}
.logo-desktop{
display:none ;
}
.account-masthead .container .betaImg{
    margin-top: 35px;
  }
  .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus{
    float: left;
    margin-left: 480 * (6 /100);
    margin-left: 6vm;
    margin-left: 6vmin;
    margin-top: 5px;

  }
  .toolbar{

    padding-left: 480 * (6 /100);
    padding-left: 6vm;
    padding-left: 6vmin;
  }
  .nav-collapse{
    clear: none !important;
    height: auto;
  }
  .nav-collapse .nav-pills{
    display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;
    display: flex;
  }
   i.icon-ic-datagov{
  font-size:100px;

  }

  i.icon-ic-menorah{
    /*font-size:50px;*/
  }
  .account-masthead .container .logo-title hgroup .logo-text{
    font-size: 20px;
   }
   .toolbar .breadcrumb .home{
    display: inline;
  }
  .wrapper{
    margin:0;
  }
 .homepage .module-search .tags h3{
    width: auto;
  }
  .toolbar .breadcrumb{
   /* padding-left: 480 * (10 /100);
    padding-left: 10vm;
    padding-left: 10vmin; */
  }

  .toolbar .breadcrumb li,
  .toolbar .breadcrumb a{
    color:#505050;
  }
  .site-footer{

    padding-left: 480 * (10 /100);
    padding-left: 10vm;
    padding-left: 10vmin;
    padding-right: 480 * (10 /100);
    padding-right: 10vm;
    padding-right: 10vmin;
  }
   .site-footer .footer-links .unstyled li a{
    font-size: 20px;
  }
  .footer .attribution{
    display: none;
  }
  .actions li{
    margin: 3px 0;
  }
  .tagCollector .tagLinks .tagLogo{

    width: 33.33333333%;
  }
}
/* Extra small device */
@media only screen and (min-width: 768px) and (max-width: 991px){
/*body{
  background-color:red;
}*/
.logo-mobile{
  display: none;
}
.logo-desktop{
display:block;
}




  .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus{
    float: left;
    /*padding-left: 768 * (11 /100);
    padding-left: 11vm;
    padding-left: 11vmin; */
    margin-top: 5px;
   left: 0px;
  }
  .nav-collapse{
    clear: none !important;
    height: auto;
  }
  .nav-collapse .nav-pills{
    display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;
    display: flex;
  }


  i.icon-ic-datagov{
  font-size:100px;

  }

  i.icon-ic-menorah{
    /*font-size:50px;*/
  }
  .account-masthead .container .logo-title hgroup .logo-text{
    font-size: 20px;
   }

  .site-footer .footer-links .unstyled li a{
    font-size: 20px;
    white-space: nowrap;
  }
  .footer .attribution{
    display: none;
  }
}
@media only screen and (min-width: 992px){
/*body{
  background-color:blue;
}*/
.logo-mobile{
  display: none;
}
.logo-desktop{
display:block;
}
.big-text{
  font-size:30px;
 }
 .toolbar .breadcrumb{
    padding-left: 0;
  }
  .site-footer .footer-links .unstyled li a{
    font-size:20px;
    white-space: nowrap;
  }
  .masthead .nav > li > a {
    font-size: 20px;
    text-decoration: none !important;
  }
  i.icon-ic-datagov{
  font-size:100px;
  }

  i.icon-ic-menorah{
   /*font-size:50px;*/
  }
  .account-masthead .container .logo-title hgroup .logo-text{
    font-size: 20px;
   }
.footer .attribution{
    display: block;
  }

}




/* ie */
@font-face{
  font-family: "Reforma";
 src:url("fonts/Reforma.eot");
 font-weight:normal;
font-style:normal;
}
.ie .account-masthead .container .logo-title hgroup{
  display:table;
}
.ie .account-masthead .container .logo-title hgroup div{
 display: table-cell;
}

.ie .account-masthead .container .logo-title hgroup .log-txt{
  display: table-cell;
  padding-top: 30px;
  padding-left: 35px;
  width: 180px;
}
.ie .account-masthead .container .logo-title hgroup .logo-icon-gov i{
  top:-37px;
}
.ie .account-masthead .container .logo-title hgroup .logo-icon-menora{
  display: table-cell;
  position: relative;
  width: 40px;
}
.ie .account-masthead .container .logo-title hgroup .logo-icon-menora a{
  position: absolute;
  top: 10px;
}
.ie .account-masthead .container .logo-title hgroup i.icon-ic-datagov{
  top:-43px;
  left:20px;
}
/*.ie .account-masthead .container .logo-title hgroup .betaImg{
  background-position:70% 70%;
}*/
.ie .site-footer .footer-links .unstyled{
  display: table;
}
.ie .site-footer .footer-links .unstyled li{
  display: table-cell;
}
.ie .tagLinks{

}

.ie .tagLinks .tagLogo{
  float:right;
}
.ie .tagLinks .tagLogo a:hover{
  text-decoration: none;
}
/* end ie */

/* GLOBAL */
@font-face {
font-family:"Reforma";
 src:url("fonts/Reforma.ttf");
 font-weight:normal;
font-style:normal;
}

@font-face {
  font-family: "datagov";
  src:url("fonts/datagov.eot");
  src:url("fonts/datagov.eot?#iefix") format("embedded-opentype"),
    url("fonts/datagov.woff") format("woff"),
    url("fonts/datagov.ttf") format("truetype"),
    url("fonts/datagov.svg#datagov") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "datagov";
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.account-masthead .account ul li a span.text {
position: unset;
}
[class^="icon-"], [class*=" icon-"]{
display: unset;

}

.icon-cog:before {
  content: "\f013";
  font-family: FontAwesome;
}
.icon-signout:before {
  content: "\f08b";
  font-family: FontAwesome;
}
.icon-signout:before {
  content: "\f08b";
  font-family: FontAwesome;
}
.icon-dashboard:before {
  content: "\f0e4";
  font-family: FontAwesome;
}
.icon-legal:before {
  content: "\f0e3";
  font-family: FontAwesome;
}
.icon-external-link:before {
  content: "\f08e";
  font-family: FontAwesome;
}

[class^="icon-ic"]:before,
[class*="icon-ic"]:before {
  font-family: "datagov";
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-ic-datagov:before {
  content: "\61";
}
.icon-ic-menorah:before {
  content: "\62";
}
.icon-ic-magen-david:before {
  content: "\63";
}
.icon-ic-relig:before {
  content: "\64";
}
.icon-ic-justic:before {
  content: "\65";
}
.icon-ic-transport:before {
  content: "\66";
}
.icon-ic-water:before {
  content: "\67";
}
.icon-ic-eco:before {
  content: "\68";
}
.icon-ic-finance:before {
  content: "\69";
}
.icon-ic-pop:before {
  content: "\6a";
}
.icon-ic-edu:before {
  content: "\6b";
}
.icon-ic-health2:before {
  content: "\6c";
}
.icon-ic-house:before {
  content: "\6d";
}


.pull-left{
  float:right;
}
.pull-right{
  float:left;
}

.context-info .nums dl{
  width: auto;
}
.module-resource .actions {
  float: left;
}
.navbar,
article,
#dataset-search-form,
.page-heading,
.prose,
.actions,
.pagination,
.module-content,
p{
  direction: rtl;
}

/* END GLOBAL STYLE*/

table th,
table td{
  text-align: right !important;
}
/* Form */
#organization-search-form h2{
  display: block;
  clear: both;
}
#organization-search-form .control-order-by{
float: right;
}




.form-horizontal .control-label{
  float:right;
  text-align: right;
}
.form-horizontal .controls {
    margin-right: 130px;
}
#field-remember{
  float: right;
  margin-left: 0;
  margin-right: -20px;
  top:5px;
}
/* End Form */
/* Header */
.masthead .debug {
    right: auto;
    left:auto;
    top:right;
}
.account-masthead .account{
  position: absolute;
  right: 45%;
  top:0;
}
.account-masthead .account.not-authed{
  position: absolute;
  right: 45%;
  left:0;
}
.account-masthead .account ul li{
  float:right;
   border-left: 0;
}
.account-masthead .container nav{
float:left;

}

.account-masthead .container nav ul li{
  float: left;
  margin-left: 40px;
}
.account-masthead .container .logo-title hgroup div{
 margin-left: 10px;
}
.account-masthead .container .logo-title hgroup i.icon-ic-datagov{
  right: -14px;
}
.account-masthead .container .logo-title hgroup .log-txt{
  margin-right: -15px;
  margin-left: 8px;
}
.header-logo{
direction: rtl;
}
.masthead .nav-collapse{
float:right;
}
.masthead .container .nav-collapse nav .nav-pills{
 /* -webkit-flex-direction:row-reverse;
  -ms-flex-direction:row-reverse;
  flex-direction:row-reverse;*/
  direction: ltr;
}
.masthead ul li a:after{
content:"\00a0\00a0|\00a0\00a0";
}
.masthead ul li a:before{
content:none;
}
.masthead ul li:last-child a:after{
content:none;
}
.account-masthead .container .betaImg{
  /*right:75%;*/
}

/* End Header */
/* Footer */
footer .unstyled, footer .attribution{
    float: right;
}
.site-footer .lang-select label,
.site-footer .lang-select select,
.site-footer .lang-select .lang-container{
  float:right;
}
.site-footer{
  direction: rtl;
}
/* End Footer */
/* Tool Bar */
.toolbar {
  direction: rtl;
}
.toolbar .breadcrumb{
float: right;
}

/* End Tool Bar */
/* ContactUs */
.contact-form .checkbox {
    padding-right: 20px;
}
.contact-form .checkbox input[type="checkbox"]{
  float:right;
  margin-right: -20px;
}
.form-actions .control-required-message {
    float: right;
}
.form-actions .btn-primary{
  float: left;
}
.contact-form .control-group .control-label{
  text-align: right;
}
/* End ContactUs */
/* dataset */
.page_primary_action a.btn-primary{
  direction: ltr;
}
form.search-form .search-input input.search{
padding-right: 45px;
}
form.search-form .control-order-by{
  float:left;
}
ul.dataset-list{
  direction: rtl;
}
ul.dataset-list li.dataset-item div.dataset-content{
  /*float: right;*/
  display: inline-block;
  min-width: 200px;
}
.context-info .nums dl{
  float:right;
}
.select2-container-multi .select2-choices .select2-search-choice{
  padding-left: 8px;
  padding-right: 22px;
}
/* end dataset */

/* create dataset */
form#dataset-edit ol.stages li{
  float: right;

}
form#dataset-edit ol.stages li span.highlight{
  text-align: right;
  /*margin-right: 10px;*/
}
form#dataset-edit div.controls div.slug-preview{
  direction: ltr;
}
form#dataset-edit div.controls div.slug-preview button.btn{
  margin-left: 3px;
}
#resource-edit .checkbox input{
  top:17px;
  left:0px;
  margin-left: 0px;
}

#resource-edit .stages li{
  float: right;
}
#resource-edit .stages li .highlight,
#dataset-edit .stages li .highlight{
  text-align: right;
  padding-right: 65px;
}
#resource-edit .stages li:after,
#dataset-edit .stages li:after{
  right: 0;
  left:auto;
  margin-left: 0;
  margin-right: -30px;
}
/* end create dataset */
/* cerate organization */

form#organization-edit-form div.controls div.slug-preview{
  direction: ltr;
}
/* end organization */
/* display dataset */
.page-header .content_action{
  float: left;
  margin-left: -7px;
}
.page-header .nav-tabs{
  float: right;
}
.page-header .nav-tabs li{
  float: right;
}
.resource-list .resource-item {
    padding: 10px 10px 10px 60px;
    text-align: left;

}
.resource-list .resource-item a.heading{
  float:right;
  padding-right: 50px;
}
.resource-item .description{
  min-height: 30px;
  margin-right: 50px;
  margin-top: 20px;
  text-align: right;
}
.resource-list .resource-item a.heading span.format-label{
  padding-top: 38px;
  right:2%;
}
.resource-item .btn-group{
  right: 80%;
  margin-left: 20px;
}

/* end display dataset */
/* search */
.hero .container .row1 .span8 .module-search h2{
  margin-right: 20px;
}
.search-form .search-input button{
  left:3%;
  width: 30px;
  right: auto !important;
}
.homepage .module-search .tags h3, .homepage .module-search .tags .tag{
  float: right;
}
.homepage{
  direction: rtl;
}
/* end search */
/* home page */
.link-groups .span4{
  float: right;
}
/* end home page */
/* aside */
aside{
  direction: rtl;
}
aside.span3 .nav-facet .nav-item > a:hover:after{
  right: auto;
  left:5%;
}

aside.span3 .nav-facet .nav-item > a:hover:after,
aside.span3 .nav-facet .nav-item.active > a:after{
  right: auto;
  left:5%;
}

/* end aside */
/* aside search */
.simple-input .field .btn-search{
  left:0;
  right: auto;
}
/* end aside search */
/* aside context-info */
.context-info .nums dl dd{
  margin-right: 0px;
  margin-left: 40px;
}
/* end aside context-info */
/* add-member-form */
.add-member-form .row-fluid{
 margin-bottom:  20px;
}
.add-member-form .row-fluid .control-group{
  float: right;
  position: relative;
}
.add-member-form .control-group label.control-label{
  text-align: right;
}
.add-member-form .row-fluid .control-group .controls{
  position: absolute;
  top:75px;
  margin:0;
  width: 90%;
}
.add-member-form .control-group .controls{
  margin:0;
  width: 100%;
}
.add-member-or{
  float:right;
}

.add-member-form .select2-container span.select2-arrow{

  left:0;
  right:auto;
  border-right: 1px solid #aaa;
  border-left: 0;
}
#select2-drop.select2-drop-active{
   overflow: none;
}
.add-member-form .select2-dropdown-open span.select2-arrow{
  border-right:0 !important;
}
#s2id_autogen1_search{
background-position-x: -17%;
}
#s2id_autogen2_search{
background-position-x: -22%;
}
.select2-drop-active{
  display: block;
  width: 100%;
}
/* end add-member-form */

/* pagination */
.pagination ul li{
  float: right;
}
/* end pagination */
/* modal-footer */
.modal-footer{
  direction: ltr;
}
.close{
  float:left;
}
/* end modal-footer */
/* dashboard */
#followee-filter .btn span,
#followee-filter .btn strong{
  float:right;
}
/* end dashboard */
/* members btn-group*/
.btn-group{
  direction: ltr;
}
/* end members btn-group */
/* autocomplete */
.ui-autocomplete{
  left:0;
  right: auto;
}
/* end autocomplete */

.facet{
  display: block;
}
@media only screen and (max-width: 319px){
   .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus{
    float: right;
    margin-right: 0;
  }
  .form-horizontal .controls {
    margin-right: 0px;
}
.control-medium .error-block{
  width: 80%;
}
.masthead ul li:first-child a:before{
  content: none;
}

}
@media only screen and (min-width: 320px) and (max-width: 479px){
   .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus{
    float: right;
    margin-right: 0;

  }
  .toolbar{
    padding-right: 320 * (6 /100);
    padding-right: 6vm;
    padding-right: 6vmin;
  }
   .form-horizontal .controls {
    margin-right: 0px;
}
.control-medium .error-block{
  width: 80%;
}
.account-masthead .container .betaImg{
   /* margin-top: -30px;
    display:none;*/
  }

  .module-resource .actions{
    float:right;
    right: 0px;
  }
  .logo-mobile hgroup .logo-icon-gov{
    margin-right: 320 * (1.5/100);
    margin-right: 1.5vm;
    margin-right: 1.5vmin;
  }
  .logo-mobile hgroup .log-txt{
   /* width: 320 * (25/100);
    width: 25vm;
    width: 25vmin;    */

  }
  .account-masthead .container .logo-title .logo-mobile hgroup .logo-text{
    /*font-size: 320 * (4.5/100);
    font-size: 4.5vm;
    font-size: 4.5vmin;
    line-height: 320 * (4.5/100);
    line-height: 4.5vm;
    line-height: 4.5vmin;*/
    margin-right: 320 * (1.5/100);
    margin-right: 1.5vm;
    margin-right: 1.5vmin;
  }
  .account-masthead .container .logo-title .logo-mobile hgroup div{
      margin-left: 0;
   }

}
@media only screen and (min-width: 480px) and (max-width: 767px){
   .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus{
    float: right;
    margin-right: 0;

    margin-right: 480 * (6 /100);
    margin-right: 6vm;
    margin-right: 6vmin;
    margin-left: 480 * (6 /100);
    margin-left: 6vm;
    margin-left: 6vmin;

  }
  .toolbar{
    padding-right: 480 * (6 /100);
    padding-right: 6vm;
    padding-right: 6vmin;
  }

}
/* Extra small device */
@media only screen and (min-width: 768px) and (max-width: 991px){

  .navbar-static-top.masthead .span12{
    float:right;
    padding-right: 768 * (10 /100);
    padding-right: 10vm;
    padding-right: 10vmin;
  }
  .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus{
    float: right;
    margin-right: 0;
    margin-top: 5px;

  }
}
@media only screen and (min-width: 992px){
  .big-text{font-size: 30px;}
  .navbar-static-top.masthead .span12{
    padding-right: 0px;
  }
    .form-horizontal .controls {
    margin-right: 130px;
}
}
/* ie */
.ie .account-masthead .container .logo-title hgroup .log-txt{
  padding-right: 25px;
  padding-left: 0px;
  margin-right: 30px;
  width: 200px;
}
.ie .account-masthead .container .logo-title hgroup i.icon-ic-datagov{
  right:10px;
}
.ie .toolbar .breadcrumb li{
  float:right;
}
.ie .search-input .icon-search{
  float: left;
}



.ie html {
  height: 100%;
  box-sizing: border-box;
}
.ie body{
     min-height: 100%;
}

.ie *, *:before, *:after {
  box-sizing: inherit;
}

.ie .gov-dir{
    display: flex;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
}

.ie .container{
    flex: 1;
}
/* end ie */

/* rtl organizations order */
.media-grid{
    list-style: none outside none;
    /* margin: 0px -25px; */
    /* padding-bottom: 15px; */
    background: url('../../../base/images/bg.png') repeat scroll 0% 0% #FBFBFB;
    border-style: solid;
    border-color: #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px 0px;
    position: static !important;
    height: inherit !important;
}

.media-item {
    padding: 25px;
    margin: 15px 15px 0px 0px !important;
    background-color: #FFF;
    border-radius: 3px;
    float: right;
    width: 25%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    height: 230px;
    position: static !important;
}

.media-view {
    position: static !important;
    display: block;
    border: 0;
}

.media-view .organization_name{
    margin-top: 24px;
    text-align: center;
    font-family: arial;
    font-weight: normal;
    font-size: 18px;
    vertical-align: middle;
}

.media-view .datasets_count{
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 22px;
}

.media-view .datasets_count_desc{
    text-align: center;
    font-family: arial;
    font-weight: normal;
    font-size: 18px;
}

.media-view .resources_count_desc{
    text-align: center;
    font-family: arial;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 15px;
}


.media-image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

ol {
    padding: 0;
    margin: 0 0 10px 25px;
    padding-right: 1em;
}


